

@font-face {
    font-family: 'Arial Rounded MT';
    font-weight: bold;
    src: url('ArialRoundedMTBold.woff2') format('woff2'),
        url('ArialRoundedMTBold.woff') format('woff');
    
    font-style: normal;
}
