# Add any directories, files, or patterns you don't want to be tracked by version control
/vendor/
/nbproject/
/backend/web/assets/
/frontend/web/assets/
/frontend/runtime/
/backend/runtime/
/common/config/main-local.php
/.gitignore/
/uploads/
/composer.json/
/composer.lock/
/api/frontend/runtime/debug/index.data
/api/frontend/runtime/logs/app.log
/api/backend/runtime/debug/index.data
/api/backend/runtime/logs/app.log
/frontend/runtime/debug/index.data
/frontend/runtime/logs/app.log
/backend/runtime/debug/index.data
/backend/runtime/logs/app.log