Options +FollowSymlinks
RewriteEngine on
# deal with admin first
RewriteCond %{REQUEST_URI} ^/lootah/(admin)
RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
RewriteRule ^admin/font-awesome/(.*)$ backend/web/font-awesome/$1 [L]
RewriteRule ^admin/fonts/(.*)$ backend/web/fonts/$1 [L]
RewriteRule ^admin/plugins/(.*)$ backend/web/plugins/$1 [L]
RewriteRule ^admin/js/(.*)$ backend/web/js/$1 [L]
RewriteRule ^admin/images/(.*)$ backend/web/images/$1 [L]
RewriteRule ^admin/vendor/(.*)$ backend/web/vendor/$1 [L]

RewriteCond %{REQUEST_URI} ^/lootah/(agentaccess)
RewriteRule ^agentaccess/assets/(.*)$ agentend/web/assets/$1 [L]
RewriteRule ^agentaccess/css/(.*)$ agentend/web/css/$1 [L]
RewriteRule ^agentaccess/font-awesome/(.*)$ agentend/web/font-awesome/$1 [L]
RewriteRule ^agentaccess/fonts/(.*)$ agentend/web/fonts/$1 [L]
RewriteRule ^agentaccess/plugins/(.*)$ agentend/web/plugins/$1 [L]
RewriteRule ^agentaccess/js/(.*)$ agentend/web/js/$1 [L]
RewriteRule ^agentaccess/images/(.*)$ agentend/web/images/$1 [L]
RewriteRule ^agentaccess/vendor/(.*)$ agentend/web/vendor/$1 [L]

RewriteCond %{REQUEST_URI} ^/lootah/(client)
RewriteRule ^client/assets/(.*)$ frontend/web/assets/$1 [L]
RewriteRule ^client/css/(.*)$ frontend/web/css/$1 [L]
RewriteRule ^client/font-awesome/(.*)$ frontend/web/font-awesome/$1 [L]
RewriteRule ^client/fonts/(.*)$ frontend/web/fonts/$1 [L]
RewriteRule ^client/plugins/(.*)$ frontend/web/plugins/$1 [L]
RewriteRule ^client/js/(.*)$ frontend/web/js/$1 [L]
RewriteRule ^client/images/(.*)$ frontend/web/images/$1 [L]
RewriteRule ^client/vendor/(.*)$ frontend/web/vendor/$1 [L]


RewriteCond %{REQUEST_URI} ^/lootah/(uploads)
RewriteRule ^(uploads)($|/) - [L]
RewriteCond %{REQUEST_URI} ^/lootah/(feedback)
RewriteRule ^(feedback)($|/) - [L]


RewriteCond %{REQUEST_URI} !^/lootah/backend/web/(assets|css|plugins|js|images|fonts)/
RewriteCond %{REQUEST_URI} ^/lootah/(admin)
RewriteRule ^.*$ backend/web/index.php [L]

RewriteCond %{REQUEST_URI} !^/lootah/agentend/web/(assets|css|plugins|js|images|fonts)/
RewriteCond %{REQUEST_URI} ^/lootah/(agentaccess)
RewriteRule ^.*$ agentend/web/index.php [L]

RewriteCond %{REQUEST_URI} ^/lootah/(assets|css|js|images|img|fonts|map)
RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]
RewriteRule ^fonts/(.*)$ frontend/web/fonts/$1 [L]
RewriteRule ^images/(.*)$ frontend/web/images/$1 [L]
RewriteRule ^img/(.*)$ frontend/web/img/$1 [L]


RewriteCond %{REQUEST_URI} !^/lootah/(frontend|backend|agentend)/web/(assets|css|images|fonts|map|js)/
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ frontend/web/index.php